name: Base Name Radar Scan

on:
  schedule:
    - cron: "*/20 * * * *"   
  workflow_dispatch:         

jobs:
  scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install deps
        run: npm install

      - name: Run scanner
        run: npm run scan
